body{
  margin: 0;
}

.logo_name_main_header{
  background-color: #89c9b8;
}

h1{
  color: #092532;
  font-size: 70pt;
  font-family: Alex Brush;
}

img {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}
